
documentation/

images/

old bits/

PWE sols/

src/MEXcompilation/old_tests/

analExtension/

paper/

.dropbox

Icon?

Paper/

*.asv

private_tests/

related_notes/

Literature/

debug/

log/

.git.bfg-report/

*.asv

*.mat

*.mex*

myMex/old_tests/

.gitattributes

resources/

PathFinder.prj

*.vscode/

extra_notes/*.aux

extra_notes/*.log

extra_notes/*.gz

documents/joss_paper/paper.pdf

examples/.ipynb_checkpoints/

documents/joss_paper/letter.txt

